name: Django CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12' # Sesuaikan dengan versi Python Anda

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r backend/requirements.txt

    - name: Run Makemigrations
      run: |
        python backend/manage.py makemigrations

    - name: Run Migrate
      run: |
        python backend/manage.py migrate

    - name: Run Server
      run: |
        python runserver
